header{
    border: 2px;
    background-color: rgb(99, 51, 91);
    padding: 10px;
    margin: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;
}
.a1{
    padding: 60px;
    text-align: center;
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-family: Atma;
}
h1{
    text-align: center;
}
.f1{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #144c5a;
}
.input{
    border: 0;
    background:rgb(225, 193, 252);
    
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    
    border-radius: 24px;
}
.label{
    margin: 10px auto;
    text-align: center;
}
#s{
    border: 0;
    background:  #164869;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
#s:hover{
    background:#3498db;
}